body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* #region ----------HEDER----*/
.header-logo {
  font-family: 'Raleway', sans-serif;
}

span {
  color: #2e2f42;
}
/* #endregion */
